<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#inverseNavbar1" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      <a class="navbar-brand" href="#" download="down.txt">{{ name }}</a></div>
    <div class="collapse navbar-collapse" id="inverseNavbar1">
			<ul class="nav navbar-nav navbar-right">
				<li ng-show="download_flag">
					<a href="{{down_dat}}" download="{{name}}.mpqz">Download</a></li>
			    <li><a href="#">Stop </a></li>
			    <li><a href="#">Logout</a></li>
        		<li class="dropdown">
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  </nav>