<ng-include src="'views/nabvar.html'" ng-controller="solvingNabvarCtrl"></ng-include>
<div class="container-fluid" ng-controller="solvingCtrl">
	<!--script ng-if="quiz.using_math_flag" type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_SVG-full"></script-->
	
	<div class="row">
	      <div class="col-centered col-xs-12 col-sm-10 col-md-8 status-bar">
	          <div class="col-xs-4">
	        <!--button type="button" class="btn btn-default btn-sm" onClick="window.location.reload()">
	            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
	        </button-->
	      </div>
	      <div class="col-xs-4 status-index">{{quiz.usr_index+1}}/{{quiz.items.length}}</div>
	      <div class="col-xs-4 status-point" ng-hide="quiz.items[quiz.usr_index].point == undefined">{{makePointStr(quiz.items[quiz.usr_index].point)}}</div>
	  </div>
	</div>
	<div class="row" ng-show="quiz.items[quiz.usr_index].reference!=undefined">
	    <div class="reference col-centered col-xs-12 col-sm-10 col-md-8"
	        ng-bind-html="trustAsHtml(quiz.references[quiz.items[quiz.usr_index].reference].content)">
	     </div>
	</div>
	    
	<div class="row">
	  <div class="question col-centered col-xs-12 col-sm-10 col-md-8">
	        <b>{{quiz.items[quiz.usr_index].order+1}}. </b>
	        <span ng-bind-html="trustAsHtml(quiz.items[quiz.usr_index].question)"></span>
	    </div>
	</div>
	
	<div class="row" ng-show="quiz.items[quiz.usr_index].answerType=='choiceOne'">
	  <div class="choices text-center">
	      <div class="btn-group-vertical col-centered" role="group" 
	            aria-label="Vertical button group" data-toggle="buttons">
	        <label data-ng-repeat="choice in quiz.items[quiz.usr_index].choices"
	                ng-click="selectResponse(choice.order)"  class="btn btn-default"
	                ng-class="{'display-only':quiz.items[quiz.usr_index].complete_flag, 'active':quiz.items[quiz.usr_index].response==choice.order}">
	            <input type="radio" name="options" autocomplete="off" />
	            <span ng-bind-html="trustAsHtml(choice.value)"></span>
	        </label>
	      </div>
	    </div>
	</div>
	
	<div class="row" ng-show="quiz.items[quiz.usr_index].answerType=='choiceMulti'">
	  <div class="choices text-center">
	      <div class="btn-group-vertical col-centered" role="group" 
	            aria-label="Vertical button group" data-toggle="buttons">
	        <label data-ng-repeat="choice in quiz.items[quiz.usr_index].choices"
	                ng-click="selectResponse(choice.order)"  class="btn btn-default"
	                ng-class="{'display-only':quiz.items[quiz.usr_index].complete_flag}">
	            <input type="checkbox" autocomplete="off" />
	            <span ng-bind-html="trustAsHtml(choice.value)"></span>
	        </label>
	      </div>
	    </div>
	</div>
	
	<div class="row" ng-show="quiz.items[quiz.usr_index].answerType=='OX'">
	  <div class="OXResponse text-center">
	    <div class="btn-group col-centered" role="group" 
	            aria-label="Horizontal button group" data-toggle="buttons">
	        <label data-ng-repeat="choice in quiz.items[quiz.usr_index].choices"
	                ng-click="selectResponse(choice.value)"  class="btn btn-default btn-lg"
	                ng-class="{'display-only':quiz.items[quiz.usr_index].complete_flag}">
	            <input type="radio" name="options" autocomplete="off" />
	            <span ng-bind-html="trustAsHtml(choice.value)"></span>
	        </label>
	    </div>   
	  </div> 
	</div>
	
	<div class="row" ng-show="quiz.items[quiz.usr_index].answerType=='shortString'">
	    <div class="shortStringResponse col-centered col-xs-8 col-sm-5 col-md-4 input-group input-group-sm">
	        <span class="input-group-addon">{{const_str.input_ans}}</span>
	        <input type="text" class="form-control" ng-model="quiz.items[quiz.usr_index].response"
	                ng-class="{'display-only':quiz.items[quiz.usr_index].complete_flag}" />
	    </div>
	</div>
	
	<div class="row" ng-show="quiz.items[quiz.usr_index].answerType=='number'">
	    <div class="numberResponse col-centered col-xs-8 col-sm-5 col-md-4 input-group input-group-sm">
	        <span class="input-group-addon">{{const_str.input_ans}}</span>
	        <input type="number" class="form-control" ng-model="quiz.items[quiz.usr_index].response" 
	                ng-class="{'display-only':quiz.items[quiz.usr_index].complete_flag}" />
	    </div>
	</div>
	
	<div class="row" ng-show="quiz.items[quiz.usr_index].answerType=='essay'">
	    <div class="essayResponse col-centered col-xs-11 col-sm-9 col-md-7 input-group">
	        <span class="input-group-addon">{{const_str.input_essay}}</span>
	        <textarea class="form-control" ng-model="quiz.items[quiz.usr_index].response" rows="5"
	            ng-class="{'display-only':quiz.items[quiz.usr_index].complete_flag}"></textarea>
	    </div>
	</div>
	
	<div class="row">
	  <div class="check-btns col-centered col-xs-12 col-sm-10 col-md-8 text-center">
	    <button type="button" ng-click="clickPrevBtn()" ng-disabled="quiz.usr_index <= 0"
	            class="check-btn btn btn-md btn-default">{{const_str.prev}}</button>
	    <button type="button" ng-disabled="quiz.items[quiz.usr_index].complete_flag" ng-click="clickSubmit()"
	            class="check-btn btn btn-md btn-primary">{{const_str.submit}}</button>
	    <button type="button" ng-click="clickNextBtn()" ng-disabled="quiz.usr_index >= quiz.items.length-1"
	            class="check-btn btn btn-md btn-default">{{const_str.next}}</button>
	  </div>
	</div>
	<div class="row" ng-show="quiz.items[quiz.usr_index].complete_flag && quiz.items[quiz.usr_index].answerType !='essay'"> 
	    <div class="answer col-centered col-xs-12 col-sm-10 col-md-8">
	      <div class="panel panel-default">
	        <div class="panel-heading">
	            {{const_str.ans}}
	            <button type="button" ng-click="clickShowAns()"
	                    class="btn btn-xs btn-default show_btn">{{ans_btn_show_str}}</button>
	          <span class="answer-incorrect-mention" ng-hide="quiz.items[quiz.usr_index].answer == quiz.items[quiz.usr_index].response">
	                    {{const_str.incorrect}}</span>
	          <span class="answer-correct-mention" ng-show="quiz.items[quiz.usr_index].answer == quiz.items[quiz.usr_index].response">
	                    {{const_str.correct}}</span>
	        </div>
	        
	        <div class="panel-body" ng-show="ans_show_flag" ng-if="quiz.items[quiz.usr_index].answerType=='choiceOne'"
	            ng-bind-html="trustAsHtml(quiz.items[quiz.usr_index].answerText)"></div>
	        
	        <div class="panel-body" ng-show="ans_show_flag" ng-if="quiz.items[quiz.usr_index].answerType=='choiceMulti'"
	            ng-bind-html="trustAsHtml(quiz.items[quiz.usr_index].answerText)"></div>
	        
	        <div class="panel-body" ng-show="ans_show_flag" ng-if="quiz.items[quiz.usr_index].answerType=='shortString'">
	                {{quiz.items[quiz.usr_index].answer}}</div>
	        <div class="panel-body" ng-show="ans_show_flag" ng-if="quiz.items[quiz.usr_index].answerType=='number'">
	                {{quiz.items[quiz.usr_index].answer}}</div>
	        <div class="panel-body" ng-show="ans_show_flag" ng-if="quiz.items[quiz.usr_index].answerType=='OX'">
	                {{quiz.items[quiz.usr_index].answer}}</div>
	        
	      </div>
	    </div>
	</div>
	<div class="row" ng-show="quiz.items[quiz.usr_index].complete_flag && quiz.items[quiz.usr_index].solution!=undefined">
	    <div class="solution col-centered col-xs-12 col-sm-10 col-md-8">
	      <div class="panel panel-default">
	        <div class="panel-heading">
	            {{const_str.solution}}
	            <button ng-click="clickShowSol()"
	                    type="button" class="btn btn-xs btn-default show_btn">{{sol_btn_show_str}}</button>
	        </div>
	        <div class="panel-body " ng-show="sol_show_flag"
	            ng-bind-html="trustAsHtml(quiz.items[quiz.usr_index].solution)"></div>
	      </div>
	    </div>
	</div>
</div>
