<html ng-app="makingQZ">
<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mippum Edu</title>
    
    <!--editor : wogud86@gmail.com -->
    
    <!-- Bootstrap -->
	<link href="../css/bootstrap.css" rel="stylesheet">
    <script src="../js/jquery-1.11.3.min.js" type="text/javascript"></script>
	<script src="../js/bootstrap.js" type="text/javascript"></script>
    <script src="../js/angular.js"></script>
    <script src="../js/bootstrap-filestyle.js"></script>
    <script src="../js/download.js"></script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_SVG-full"></script>
		
	<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
			jax: ["input/TeX", "output/SVG"],
			tex2jax: {
				inlineMath: [['$','$']],
				displayMath: [ ['$$','$$']],
				processEscapes: true,
				processEnvironments: true,
				ignoreClass: "no-mathjax",
				processClass: "mathjax",
				preview: "TeX"
			},
			"HTML-CSS": { 
				availableFonts: ["STIX", "TeX"],
				webFont: null 
			},
			"SVG": {
				availableFonts: ["TeX"],
				blacker: 0,
				scale: 90
			},
			showMathMenu: false
		});
	</script>
	
    <link href="css/making_ct.css" rel="stylesheet">

	<style type="text/css">
        .btn-us{
            padding: 0px;
            font-size: 10px;
            line-height: 1;
            border-radius: 0px;
        }
        .dropdown-menu > li > label{
            
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: normal;
            line-height: 1.42857143;
            color: #333333;
            white-space: nowrap;
            cursor: pointer;
        }
        .dropdown-menu > li > label:hover,
        .dropdown-menu > li > label:focus {
          text-decoration: none;
          color: #262626;
          background-color: #f5f5f5;
        }
        
        .panel-title > .btns {
            float: right;
        }
        .panel-body textarea {
            border:1px solid #999999;
            width:100%;
            margin:5px 0;
            padding:3px;
        }
        .choices table{
            
            width:100%;
        }
        .choices table tr>td{
            /*border:solid 1px black;*/
            font-size: 14px;
            /*text-align: center;*/
        }
        .choices table td:nth-child(1),
        .choices table td:nth-child(2){
            /*background-color:red;*/
            width:50px;
        }
        .choices table td:nth-child(3) input {
            width:100%;
        }
        
        .well h4{
            color:cadetblue;
        }
        .well label{
            margin-bottom: 0px;
            font-weight:normal;
            cursor: pointer;
        }
        
        .printed_version {
            border:solid 1px black;
            background-color:white;
            min-height:100px;
            width:466px;
            padding:3px;
            margin-top:10px;
        }
        select option:empty { 
            display:none 
        }
        .label {
            margin-left:10px;
            margin-right:10px;
        }
        .edit-section{
            background-color:floralwhite;
        }
        .btn-apply{
            margin:10px;
        }
    </style>
    <script>
        
        var const_str = {
    		'None':'없음',
            'mark_type_NOOR':"직접입력(무순서)",
            'class_domain':'대단원',
            'class_middle_unit':'중단원',
            'class_cluster':'소단원',
            'class_etc':'직접입력',
            
            'making_cate':'카테고리 만들기',
            'quiz_open_file':'퀴즈 파일 열기',
            'apply':'적용',
            'download':'다운로드',
            'save_as':'변경 내용 저장',
            
            'cagetory_file_name' : '카테고리 파일 이름',
            'number_of_levels':'레벨 수',
            'classification':'분류',
            'mark_type':'부호',
            'add':'추가',
            'modify':'수정',
            'delete':'삭제',
            
            'okay':'확인',
            'delete':'삭제',
            
    	};
    	var choice_mark_types = [ {
    	    "keyword":"BEPO",
            "example":"A. B. C.",
            "marks":["A.","B.","C.","D.","E.","F.","G.","H.","I.","J.","K.","L.","M.","N.","O."]
        },{
        	"keyword":"NMAC",//Numbers in a circle
            "example":"① ② ③",
            "marks":["①","②","③","④","⑤","⑥","⑦","⑧","⑨","⑩","⑪","⑫","⑬","⑭","⑮"]
        }];
        var test_dat;
		var app = angular.module("makingQZ", []);
        
        app.directive('customOnChange', function() {
          return {
            restrict: 'A',
            link: function (scope, element, attrs) {
              var onChangeHandler = scope.$eval(attrs.customOnChange);
              element.bind('change', onChangeHandler);
            }
          };
        });
        
         app.directive('modal', function () {
            return {
              template: '<div class="modal fade">' + 
                  '<div class="modal-dialog">' + 
                    '<div class="modal-content">' + 
                      '<div class="modal-header">' + 
                        '<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>' + 
                        '<h4 class="modal-title">{{ title }}</h4>' + 
                      '</div>' + 
                      '<div class="modal-body" ng-transclude></div>' + 
                    '</div>' + 
                  '</div>' + 
                '</div>',
              restrict: 'E',
              transclude: true,
              replace:true,
              scope:true,
              link: function postLink(scope, element, attrs) {
                attrs.$observe('title', function(){
                    scope.title = attrs.title;
                });
                scope.$watch(attrs.visible, function(value){
                  if(value == true)
                    $(element).modal('show');
                  else
                    $(element).modal('hide');
                });

                $(element).on('shown.bs.modal', function(){
                    //test_dat = attrs;
                  scope.$apply(function(){
                    scope.$parent[attrs.visible] = true;
                  });
                });

                $(element).on('hidden.bs.modal', function(){
                  scope.$apply(function(){
                    scope.$parent[attrs.visible] = false;
                  });
                });
              }
            };
          });
    </script>
    <script src="controllers/MakingQZCtrl.js"></script>
</head>
<body ng-controller="MakingQZCtrl" class="no-mathjax">
<nav class="navbar navbar-inverse">

  <div class="container-fluid">
        <div class="navbar-header">
          
          <a class="navbar-brand" href="#">퀴즈 만들기</a></div>
        <div class="collapse navbar-collapse" id="inverseNavbar1">
                
        </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row fst-line">
  	<div class="col-md-5 col-sm-4">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            파일열기 <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
              <li>
                  <label for="input_mpqz_file">{{ const_str.quiz_open_file }}</label>
              </li>
              <li>
                  <label for="add_mpct_file">카테고리 파일 추가</label>
              </li>
          </ul>
          <div hidden>
            <input id="input_mpqz_file" type="file"
                custom-on-change="open_mpqz_file"  accept=".mpqz" data-input="false"
                data-buttonText="{{ const_str.quiz_open_file }}">
            <input id="add_mpct_file" type="file" class="file filestyle"
                        custom-on-change="open_mpct_file"  accept=".mpct" data-input="false" size="sm"
                        data-buttonText="카테고리 파일 추가">
          </div>
        </div>
  	 	<button class="btn btn-default" ng-click="down_mpqz_file()">
            {{ const_str.download }}
        </button>
     </div>
    <div class="col-md-4 col-sm-4 col-xs-7">
     	<!--button class="btn btn-default">{{ const_str.apply }}</button-->
     </div>
     <div class="text-right col-md-3 col-sm-4">
	    <!--button class="btn btn-danger">{{ const_str.save_as }}</button-->
     </div>
  </div>
  <div class="row scnd-line" ng-hide="qz == undefined">
     <div class="col-md-6 col-sm-6 col-xs-6">
     
         <div class="input-group">
          <span class="input-group-addon" id="ct-name-addon">퀴즈 파일 이름</span>
          <input type="text" class="form-control" 
                 id="mpctfile_input" aria-describedby="ct-name-addon" ng-model="qz.name">
        </div>
     </div>
    
  </div>
    
    <div class="well well-sm">
        <div class="row">
            <div class="col-sm-6">

                <h4>
                    도우미
                </h4>
                <div>
                    <a href="#" class="btn btn-default btn-sm">사용방법</a>
                    <a href="#" class="btn btn-default btn-sm">수식 쓰기</a>
                    <a href="#" class="btn btn-default btn-sm">이미지 입력</a>
                </div>
            </div>

            <div class="col-sm-6">
                <h4>
                    카테고리
                    <button class="btn btn-default btn-us"><label for="add_mpct_file">추가</label></button>
                    <a href="/quiz/making_ct.html" target="_blank" class="btn btn-default btn-us">
                        편집기 열기
                    </a>
                    
                </h4>

                <p>
                    <b>추가된 카테고리 : </b><br />
                    <span ng-repeat="ct in qz.ct">
                        {{ct.name}}
                        <button class="btn btn-success btn-us" ng-click="down_mpct_file(ct.order)">
                            다운로드
                        </button>
                        <button class="btn btn-danger btn-us" ng-click="del_ct(ct.order)">삭제</button>
                        <span ng-hide="ct.order == qz.ct.length-1">,</span>
                    </span>
                    
                </p>
                <div>
                    <b>기본 분석 카테고리 : </b><br />
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span ng-if="qz.basic_ct.order == undefined">이름 선택</span> 
                        <span ng-if="qz.basic_ct.order != undefined">{{qz.ct[qz.basic_ct.order].name}}</span> 
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                          
                        <li ng-repeat="ct in qz.ct">
                            <a href="#" ng-click="select_basic_ct_name(ct.order)">
                                {{ct.name}}
                            </a>
                        </li>
                      </ul>
                    </div>
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span ng-if="qz.basic_ct.depth == undefined">분류 선택</span> 
                        <span ng-if="qz.basic_ct.depth != undefined">{{qz.ct[qz.basic_ct.order].level_label[qz.basic_ct.depth].name}}</span> 
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li ng-repeat="candidate in basic_ct_candidates">
                            <a href="#" ng-click="select_basic_ct_depth(candidate.depth)">
                                {{candidate.name}}
                            </a>
                        </li>
                      </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <h4>
                    객관식 문항 설정
                </h4>
                <div>
                    객관식 번호 유형
                    <select ng-model="choice_mark_type"
                    	ng-options="mark_type.example for mark_type in choice_mark_types">
                    </select><br />

                    기본 객관식 문항 수
                    <select ng-model="default_num_of_choices"
                    	ng-options="candidate for candidate in candidates_for_num_of_choices">
                   </select>
                </div>
            </div>
            <div class="col-sm-6">
                <h4>
                    기타 설정
                </h4>
                <div>
                    수식 사용 : 
                    <div class="btn-group" data-toggle="buttons">
					  <label class="btn btn-default btn-xs"
					  	ng-class="{active:qz.using_math_flag == true}" ng-click="qz.using_math_flag = true">
					    <input type="radio" name="using_math_flag_options" autocomplete="off">on
					  </label>
					  <label class="btn btn-default btn-xs active"
					  		ng-class="{active:qz.using_math_flag == false}" ng-click="qz.using_math_flag = false">
					    <input type="radio" name="using_math_flag_options" autocomplete="off">off
					  </label>
					</div>
					
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
	<h3>
		문항 
		<button class="btn btn-default btn-xs" ng-click="show_item_all()">모두 열기</button> 
		<button class="btn btn-default btn-xs" ng-click="close_item_all()">모두 닫기</button>
	</h3>
  <div class="row">
  	  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >
          <div class="panel panel-default" ng-repeat="item in qz.items">
            <div class="panel-heading" role="tab" id="headingOne">
                <div class="panel-title">
                    <a href="" ng-click="item.edit.show_item_flag = !item.edit.show_item_flag">
                        {{item.order+1}}. {{ item.question | limitTo:8 }}
                    </a>
                    <!--a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{item.order}}" aria-expanded="true" aria-controls="collapse-{{item.order}}">
                     {{item.order+1}}. {{ item.question | limitTo:8 }}
                    </a-->
                    <div class="btns">
                        <button class="btn btn-danger btn-sm" ng-click="del_item(item.order)">
                        	<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                        <div class="label label-success" ng-hide="item.edit.show_edit_flag">
                        	<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </div>
                        <div class="label label-warning" ng-show="item.edit.show_edit_flag">
                        	<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                        </div>
                        <button class="btn btn-default btn-sm" ng-click="move_item_up(item.order)">
                        	<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                        </button>    
                        <button class="btn btn-default btn-sm" ng-click="move_item_down(item.order)">
                        	<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                        </button>    
                        <!--a class="btn btn-default btn-xs" role="button" data-toggle="collapse" data-parent="#accordion" 
                        		href="#collapse-{{item.order}}" aria-expanded="true" aria-controls="collaps-{{item.order}}">
                        	닫기
                        </a-->
                        <button class="btn btn-default btn-sm" ng-click="item.edit.show_item_flag = !item.edit.show_item_flag">
                        	<span ng-show="item.edit.show_item_flag">
                        		<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        	</span>
                        	<span ng-show="!item.edit.show_item_flag">
                        		<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        	</span>
                        </button>
                    </div>
                </div>
                
            </div>
            <div id="collapse-{{item.order}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-{{item.order}}">
              <div class="panel-body" ng-show="item.edit.show_item_flag" ng-class="{'mathjax':qz.using_math_flag}">
                
                
                <div class="col-md-6">
                	<!--button class="btn btn-default btn-sm" ng-click="item.edit.show_edit_flag = !item.edit.show_edit_flag">편집 닫기</button-->
                    <button class="btn btn-default btn-sm" ng-show="item.edit.show_edit_flag" ng-click="cancle_edit_item(item)">
                    	편집 취소
                    </button>
                    <button class="btn btn-default btn-sm" ng-hide="item.edit.show_edit_flag" ng-click="enable_edit_item(item)">
                    	편집 활성화
                    </button>
                    <!--button class="btn btn-primary btn-sm" ng-click="apply_item(item)">적용</button-->
                    <!--button class="btn btn-default">편집 활성화</button-->
                    
                    <div class="preview">
                    	<div class="printed_version" ng-show="item.reference != -1">
                        	<span class="printed_ref_content" ng-bind-html="trustAsHtml(qz.refs[item.reference].content)"></span>
                        </div>
                        <div class="printed_version" >
                        	{{item.order + 1}}. 
                        	<span class="printed_question" ng-bind-html="trustAsHtml(item.question)">
                        		
                        	</span>
                        	<div class="printed_choices row" ng-show="item.answerType == 'choiceOne' || item.answerType == 'choiceMulti'">
                        		<div class="col-xs-{{12/item.numOfChoicesEachRow}}"
                        			ng-repeat="choice in item.choices">
                        			{{choice_mark_type.marks[choice.order]}}
                        			<span ng-bind-html="trustAsHtml(choice.value)"></span>
                        		</div>
                        	</div>
                        </div>
                        <div class="preview-answer">
                        	정답 : {{item.answerText}}
                        </div>
                        <div class="preview-solution">
                        	해설 : 
                        	<div ng-bind-html="trustAsHtml(item.solution)"></div>
                		</div>
                		카테고리
                		<div ng-repeat="ct_text in item.category_texts">
                            {{ct_text}} 
                        </div>
                	</div>
                </div>
                
                <div class="col-sm-6 col-md-6 edit-section" ng-show="item.edit.show_edit_flag">
                    문제 유형 : 
                    <select ng-model="item.edit.answerType" ng-disabled="!item.edit.editting_flag">
                    	<option ng-repeat="candidate in answer_type_candidates" value="{{candidate.name}}">{{candidate.text}}</option>
                    </select><br />
                    
                    질문 : <br />
                    <textarea width="100%" ng-model="item.edit.question" ng-disabled="!item.edit.editting_flag"></textarea>
                    <div class="choices" ng-show="item.edit.answerType == 'choiceOne' || item.edit.answerType == 'choiceMulti'">
                        <table class="text-center">
                            <tr>
                                <td>정답</td>
                                <td>번호</td>
                                <td>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-default dropdown-toggle btn-xs" ng-disabled="!item.edit.editting_flag" 
                                      	data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        보기 수 <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu">
                                        <li ng-repeat="candidate in candidates_for_num_of_choices">
                                            <a href="" ng-click="change_num_of_choices(item, candidate)">{{candidate}}</a>
                                        </li>
                                      </ul>
                                    </div>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-default dropdown-toggle btn-xs"  ng-disabled="!item.edit.editting_flag"
                                      	data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        한 줄 보기 수 <span class="badge">{{item.edit.numOfChoicesEachRow}}</span><span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu">
                                        <li ng-repeat="candidate in item.edit.numOfChoicesEachRow_candidates">
                                            <a href="" ng-click="item.edit.numOfChoicesEachRow = candidate">{{candidate}}</a>
                                        </li>
                                      </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-repeat="choice in item.edit.choices">
                                <td>
                                	<input type="radio" ng-model="item.edit.choiceOne_answer" value="{{choice.order}}" name="choiceOne-{{ item.order }}" 
                                			ng-show="item.edit.answerType == 'choiceOne'" ng-disabled="!item.edit.editting_flag" />
                                	<input type="checkbox" ng-model="choice.answer" ng-show="item.edit.answerType == 'choiceMulti'"  ng-disabled="!item.edit.editting_flag" />
                                </td>
                                <td>{{choice_mark_type.marks[choice.order]}}</td>
                                <td><input type="text" ng-model="choice.value" ng-disabled="!item.edit.editting_flag"/></td>
                            </tr>
                        </table>
                    </div>
                    <div class="answer" ng-hide="item.edit.answerType == 'choiceMulti' || item.edit.answerType == 'essay'">
                        답 :
                        <input type="text" ng-disabled="!item.edit.editting_flag" ng-model="item.edit.shortString_answer" 
                        		ng-show="item.edit.answerType == 'shortString'"/>
                        <input type="number" ng-disabled="!item.edit.editting_flag" ng-model="item.edit.number_answer" 
                        		ng-show="item.edit.answerType == 'number'"/>
                        
                        <div class="btn-group" data-toggle="buttons" ng-show="item.edit.answerType == 'OX'">
						  <label class="btn btn-default btn-sm" ng-click="set_OX_answer(item, 'O')"
						  		ng-class="{active:item.edit.OX_answer == 'O', disabled:!item.edit.editting_flag}" >
						    <input type="radio" autocomplete="off">O
						  </label>
						  <label class="btn btn-default btn-sm" ng-click="set_OX_answer(item, 'X')"
						  		ng-class="{active:item.edit.OX_answer == 'X', disabled:!item.edit.editting_flag}">
						    <input type="radio" autocomplete="off" disabled>X
						  </label>
						</div>
						
                    </div>
                    <div class="solution">
	                    해설 : 
	                    <div class="btn-group" data-toggle="buttons">
						  <label class="btn btn-default btn-xs" ng-click="use_solution(item, true)"
						  		ng-class="{active:item.edit.using_solution == true, disabled:!item.edit.editting_flag}" >
						    <input type="radio" autocomplete="off">on
						  </label>
						  <label class="btn btn-default btn-xs" ng-click="use_solution(item, false)"
						  		ng-class="{active:item.edit.using_solution == false, disabled:!item.edit.editting_flag}">
						    <input type="radio" autocomplete="off" disabled>off
						  </label>
						</div>
						
						<textarea width="100%" ng-show="item.edit.using_solution" ng-model="item.edit.solution" ng-disabled="!item.edit.editting_flag"></textarea>
					</div>
					<div class="using_ref">
						참조글 번호 : 
						<div class="btn-group">
		                    <button type="button" class="btn btn-default dropdown-toggle btn-xs"  ng-disabled="!item.edit.editting_flag"
			                  	data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			                    <span ng-show="item.edit.reference == -1">없음</span>
			                    <span ng-hide="item.edit.reference == -1">{{item.edit.reference + 1}}</span> 
			                    <span class="caret"></span>
			                </button>
			                <ul class="dropdown-menu">
			                	<li>
			                        <a href="" ng-click="item.edit.reference = -1">없음</a>
			                    </li>
			                    <li ng-repeat="ref in qz.refs">
			                        <a href="" ng-click="item.edit.reference = ref.order">{{ref.order+1}}</a>
			                    </li>
			                </ul>
		                </div>
	                </div>
                    <div> 
                        카테고리 <br />
                        <div ng-repeat="category in item.edit.categories">
                            {{qz.ct[category.order].name}} : 
                            <span ng-repeat="contents in category.selected_contents">
                                <div class="btn-group">
				                    <button type="button" class="btn btn-default dropdown-toggle btn-xs"
					                  	data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					                    <span>{{ contents[category.select_order[contents.depth]].name }}</span>
					                    <span ng-show="category.select_order[contents.depth] == -1">없음</span>
					                    <span class="caret"></span>
					                </button>
					                <ul class="dropdown-menu">
					                	<li>
					                        <a href="" ng-click="change_item_ct(category, contents.depth, -1)">없음</a>
					                    </li>
					                    <li ng-repeat="content in contents">
					                        <a href="" ng-click="change_item_ct(category, contents.depth, content.order)">
					                        	{{content.name}}
					                        </a>
					                    </li>
					                </ul>
				                </div>
                                
                            </span>
                        </div>
                    </div>
                    <div class="row text-right">
                    	<button class="btn btn-primary btn-sm btn-apply" ng-click="apply_item(item)">적용</button>
                    </div>
                </div>
              </div>
            </div>
          </div>

        </div>
  </div>
    <button class="btn btn-default" ng-click="add_item()">문항 추가</button>
    
</div>
<hr />
<div class="container-fluid">
    <h3>참조글
        <button class="btn btn-default btn-xs" ng-click="show_ref_all()">모두 열기</button> 
		<button class="btn btn-default btn-xs" ng-click="close_ref_all()">모두 닫기</button>
    </h3>
    <div class="row">
        <div class="panel panel-default"  ng-repeat="ref in qz.refs">
            <div class="panel-heading" role="tab" id="headingOne">
                <div class="panel-title">
                    <a href="" ng-click="ref.edit.show_ref_flag = !ref.edit.show_ref_flag">
                        {{ ref.order+1 }}. {{ ref.content | limitTo:8 }}
                    </a>
                    <div class="btns">
                        <button class="btn btn-danger btn-sm" ng-click="del_ref(ref.order)">
                        	<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                        <div class="label label-success" ng-hide="ref.edit.show_edit_flag">
                        	<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </div>
                        <div class="label label-warning" ng-show="ref.edit.show_edit_flag">
                        	<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                        </div>
                        <button class="btn btn-default btn-sm" ng-click="ref.edit.show_ref_flag = !ref.edit.show_ref_flag">
                        	<span ng-show="ref.edit.show_ref_flag">
                        		<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        	</span>
                        	<span ng-show="!ref.edit.show_ref_flag">
                        		<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        	</span>
                        </button>
                    </div>
                </div>

            </div>
            <div class="panel-body" ng-show="ref.edit.show_ref_flag" ng-class="{'mathjax':qz.using_math_flag}">
                <div class="col-md-6">
                    <button class="btn btn-default btn-sm" ng-show="ref.edit.show_edit_flag" ng-click="cancle_edit_ref(ref)">
                    	편집 취소
                    </button>
                    <button class="btn btn-default btn-sm" ng-hide="ref.edit.show_edit_flag" ng-click="enable_edit_ref(ref)">
                    	편집 활성화
                    </button>
                    
                    <div class="preview">
                        <div class="printed_version" >
                            <span class="printed_ref_content" ng-bind-html="trustAsHtml(ref.content)"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 edit-section" ng-show="ref.edit.show_edit_flag">
                    내용 : <br />
                    <textarea width="100%" ng-model="ref.edit.content"> </textarea>
                    <div class="row text-right">
                    	<button class="btn btn-primary btn-md btn-apply" ng-click="apply_ref(ref)">적용</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <button class="btn btn-default" ng-click="add_ref()">참조글 추가</button>
    
</div>
<modal title="{{modal_title}}" visible="showModal">
    <!--form role="form" name="form"-->
        <div class="form-group">
            <span class="modal_warning" ng-show="modal_warning_flag" ng-bind-html="trustAsHtml(modal_warning_msg)"></span>
            <input type="text" class="form-control" ng-hide="modal_warning_flag" 
                   name="text" id="modal_input" ng-model="$parent.modal_input"/>
        </div>
        <div class="text-right">
            <button class="btn" ng-class="{'btn-danger' : modal_warning_flag, 'btn-primary':!modal_warning_flag}" ng-click="submitModal()">{{submit_btn_txt}}</button>
            <button type="cancle" class="btn btn-default" data-dismiss="modal">취소</button>
        </div>
    <!--/form-->
</modal>

</body>


</html>